/.metadata/
/.recommenders/

brevetes-ms/\.settings/

brevetes-ms/target/

brevetes-ms/\.classpath

brevetes-ms/\.project

commons/\.settings/

commons/target/

commons/\.classpath

commons/\.project

RemoteSystemsTempFiles/
