/.metadata/
/.recommenders/

brevetes-ms/\.classpath

brevetes-ms/\.settings/org\.eclipse\.wst\.common\.component

brevetes-ms/\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml

brevetes-ms/\.settings/org\.eclipse\.jdt\.core\.prefs

brevetes-ms/bin/src/main/java/pe/mil/ejercito/ms/commons/LoggerService\.class

brevetes-ms/bin/src/main/java/pe/mil/ejercito/ms/commons/MsConfig\.class

brevetes-ms/\.settings/

brevetes-ms/bin/target/

brevetes-ms/target/

brevetes-ms/\.project

commons/bin/

commons/\.settings/

commons/target/

commons/\.classpath

brevetes-ms/bin/

commons/\.project
