<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn" name="brevetes">
	<Properties>
		<Property name="log-path">/data/BREVETES/</Property>
	</Properties>
	<Appenders>
		<Console name="BrevetesConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} brevetes [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="BrevetesRollingFile" fileName="${log-path}/brevetes.log"
			filePattern="${log-path}/$${date:yyyy-MM}/brevetes/brevetes-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} brevetes [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="error" additivity="true">
     		<appender-ref ref="BrevetesConsole" />     
 		</Logger>
		<Root level="warn">
			<AppenderRef ref="BrevetesRollingFile" />
		</Root>
	</Loggers>
</Configuration>